.itemOpinionCardPanelStyleSelf{
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 1px 1px 8px 1px rgba(70, 70, 71, 0.4);
    padding: 2% 3%;
    margin: 2%;
    width: 100%;
}

.contenedorSelfOpinionesCatalogo {
    display: flex;
    width: 50%;
}