.itemWelcomePanelStylePublications{
    display: flex;
    font-family: clear-sans-bold;
    font-size: 1.5rem;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
}

.panelBodyContainerMainPublications{
    width: 96%;
    margin: 0% 2%;
    display: flex;
    flex-wrap: wrap;
}

.contenedorPublications{
    width: 100%;
    height: auto;
}
.panelBodyPanelStylePublications{
    display: flex;
    flex-wrap:wrap;
    width:100%;
}