.itemPreguntaCardPanelStyleAncha{
    align-items: center;
    border-radius: 1.25rem;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    box-shadow: 1px 1px 8px 1px rgba(70, 70, 71, 0.4);
    padding: 1.5% 1.5% 0.25% 1.5%;
    width: 43%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}

.itemPreguntaBodyPanelStyleAncha{
        display: flex;
        height:100%;
        align-items:center;
}