.calendarioContainerHome{
    width: 90%;
    padding: 5% 10% 5% 5%;
}

.react-datepicker .react-datepicker__month-container {
    width: calc(100%/3);
  }
  
  .react-datepicker .react-datepicker__month {
    background-color: white;
  }

  .react-datepicker .react-datepicker__day-name{
    color: rgb(110,110,110);
    margin: 2%;
    font-family: 'Montserrat';
    font-weight: 500;
  }

  .react-datepicker .react-datepicker__day-names{
    border-color: rgb(230,230,230);
  }

  .react-datepicker .react-datepicker__day {
    margin: 2%;
  }

  .react-datepicker .react-datepicker__day:hover {
    filter:opacity(1);
    margin: 2%;
  }

  .react-datepicker .react-datepicker__day--selected {
    border-radius: 0.5rem;
    background-color: black;
    margin: 2%;
  }

  .react-datepicker .react-datepicker__day--disabled {
    border-radius: 0.5rem;
    background-color: rgba(0,0,0, 0.25);
    color: white;
    margin: 2%;
  }

  .react-datepicker .react-datepicker__day--keyboard-selected {
    border-radius: 0.5rem;
    background-color: white;
  }

  .react-datepicker .react-datepicker__header {
    background-color: white;
    border-color: rgb(230,230,230)
  }

  .react-datepicker .react-datepicker__current-month {
    color: rgb(110,110,110);
    font-family: 'Montserrat';
    font-weight: 500;
  }

  .react-datepicker {
    background-color: white;
    width: 100%;
    border-color: rgb(230,230,230);
  }