#searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 2rem;
    border: 3px solid rgba(0, 0, 0, 0.223);
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.14);
}

.searchInput {
    font-family: 'Montserrat Alternates', sans-serif;
    width: 33%;
    text-align: center;
    border: none;
    background-color: #00000000;
    border-right: 2px solid #00000055;
    
}

#btnSearch {
    position: relative;
    z-index: 2;
    border: 3px solid rgb(0, 0, 0);
    height: 120%;
    margin-right: -5px;
    width: 20%;
    border-radius: 2rem;
    background-color: #000000;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    transition: width 0.3s;
}
#btnSearch:hover {
    cursor: pointer;
    height: 114%;
    width: 24%;
}

#logo {
    position: absolute;
    right: 3%;
    height: 2rem;
    border-radius: 2rem;
    padding: 0.3rem;
    background-color: white;
    /*box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.14);*/
}
header {
    width: calc(100% - 5rem);
    position: fixed;
    top: 0;
    padding: 1rem 0 1rem 0;
    background: linear-gradient(180deg, rgba(255,255,255,1) 85%, rgba(255,255,255,0) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
