#loginCard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 70%;
    height: 90%;
    max-height: 100vh;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.15);
    right: 0;
    display: flex;
    transition: height 1500ms;
}

#opaquer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.568);
}
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: 'Montserrat', sans-serif ;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#logo {
    height: 1.8rem;
    border-radius: 0.5rem;
    object-fit: cover;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-bottom: 0;
    margin-top: 2rem;
}
#signUpTitle {
    margin: 0;
}
#background {
    position: absolute;
    z-index: -1;
    top: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: opacity(30%);
}
#fullName {
    display: flex;
    justify-content: space-between;
}
#fullName input {
    width: calc(49% - 2rem);
}
input {
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #0000000a;
    outline: #0000006c solid 0px;
    transition: outline 150ms;
    width: calc(100% - 2rem);
    height: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: medium;
    margin-top: 1rem;
}
input:focus {
    outline: #0000003a solid 3px;
}
#signImg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    border-left: #00000011 solid 2px;
    width: 50%;
}
#signImg img {
    width: 80%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}
#signLeft {
    display: flex;
    flex-direction: column;
    width: calc(50% - 8rem);
    padding: 2rem 4rem;    
    justify-content: space-between;
}
#signData {
    width: 100%;
    margin-bottom: 1rem;
}
#signUpHeader {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.flex-container {
    display: flex;
    align-items: center;
}
.flex-between {
    display: flex;
    justify-content: space-between;
}
.loginOption {
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    font-size: small;
    user-select: none;
}
.loginOption b {
    font-family: 'Montserrat',sans-serif;
    font-size: small;
    font-weight: 800;
}
.loginOption b:hover {
    cursor: pointer;
}
#signOptions {
    display: block;
}
#signOptions p {
    margin: 0.5rem 0;
}
button {
    background-color: black;
    border: none;
    border-radius: 0.5rem;
    color: white;
    width: 100%;
    height: 2.5rem;
    font-size:medium;
    font-weight: bold;
    font-family: 'Montserrat';
}

button:hover {
    cursor: pointer;
}

.circle {
    background-color: #0000003a;
    height: 0.5rem;
    width: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 100%;
}
.selected {
    background-color: black;
}

#inputID {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00000011;
    border-radius: 0.5rem;
    margin-top: 1rem;
    padding: 2rem;
    user-select: none;
}
#inputID:hover {
    cursor: pointer;
}
#inputID b {
    font-family: 'Montserrat', sans-serif;
    color: #0000007e;
    font-weight: 800;
    text-align: center;
}
#inputID p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #0000007e;
    font-size: small;
    text-align: justify;
}
#inputID svg {
    fill: #0000003a;
    height: 4rem;
}
.secondary {
    width: 20%;
    margin-right: 0.5rem;
    background-color: #00000011;
    fill: #0000007e;
    display: flex;
    align-items: center;
    justify-content: center;
}
.secondary svg {
    height: 2rem;
}
.verification {
    margin: 1rem 0;
    text-align: center;
    background-color: white;
    outline: #0000000f solid 2px;
}
#MFA {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #0000003a;
    fill: #0000009e;
    color: #0000009e;
    margin-bottom: 1rem;
}
#MFA svg {
    height: 1.2rem;
    width: 1.5rem;
    margin-right: 0.3rem;
}
#MFA p {
    font-family: 'Montserrat', sans-serif ;
    font-size: small;
    font-weight: 800;
}

@media (max-width: 1249px) {
    #signImg {
        display: none;
    }
    #signLeft {
        width: calc(100% - 8rem);
    }
}
@media (max-width: 599px) {
    #loginCard {
        width: 90%;
    }
    #signLeft {
        width: calc(100% - 4rem);
        padding: 2rem 2rem;
    }
}
